/* line 6, ../sass/screen.scss */
*:focus {
  outline: none;
}

/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/ofont.ru_Raleway.ttf);
}
/* line 16, ../sass/screen.scss */
html, body {
  font-family: Raleway;
  height: 100%;
  background-color: #f9f9f9;
}

/* line 24, ../sass/screen.scss */
.wrap {
  max-width: 1180px;
  margin: auto;
}

/* line 28, ../sass/screen.scss */
.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: background-color 0.5s;
}
/* line 33, ../sass/screen.scss */
.header__header-content {
  margin: 0 auto;
  max-width: 1170px;
  padding: 30px 10px;
  width: 80%;
}

/* line 42, ../sass/screen.scss */
.navigation.open {
  opacity: 0.9;
  visibility: visible;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* line 51, ../sass/screen.scss */
.navigation {
  position: fixed;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
  float: right;
}
/* line 64, ../sass/screen.scss */
.navigation li {
  display: block;
  margin: 30px auto;
  text-align: center;
}
/* line 69, ../sass/screen.scss */
.navigation a {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  font-size: 35px;
  margin: 0;
  text-align: center;
  font-weight: 700;
}
/* line 78, ../sass/screen.scss */
.navigation a:hover, .navigation a .active {
  color: #fff;
}
/* line 84, ../sass/screen.scss */
.navigation .primary-nav {
  position: relative;
  top: 45%;
  -moz-transform: translateY(-45%);
  -ms-transform: translateY(-45%);
  -webkit-transform: translateY(-45%);
  transform: translateY(-45%);
}

/* line 95, ../sass/screen.scss */
.nav-toggle {
  overflow: hidden;
  height: 44px;
  overflow: hidden;
  position: fixed;
  right: 5%;
  text-indent: 100%;
  top: 32px;
  white-space: nowrap;
  width: 44px;
  z-index: 99999;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 112, ../sass/screen.scss */
.nav-toggle:before, .nav-toggle:after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}
/* line 133, ../sass/screen.scss */
.nav-toggle:before {
  /*background-color: #fff;*/
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 145, ../sass/screen.scss */
.nav-toggle:after {
  /*background-color: #fff;*/
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
/* line 157, ../sass/screen.scss */
.nav-toggle span {
  background-color: #03B5AA;
  /*background-color: #6c7279;*/
  bottom: auto;
  display: inline-block;
  height: 3px;
  left: 50%;
  position: absolute;
  right: auto;
  top: 50%;
  width: 18px;
  z-index: 10;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
/* line 173, ../sass/screen.scss */
.nav-toggle span:before, .nav-toggle span:after {
  background-color: #03B5AA;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
/* line 193, ../sass/screen.scss */
.nav-toggle span:before {
  -moz-transform: translateY(-6px) rotate(0deg);
  -ms-transform: translateY(-6px) rotate(0deg);
  -webkit-transform: translateY(-6px) rotate(0deg);
  transform: translateY(-6px) rotate(0deg);
}
/* line 199, ../sass/screen.scss */
.nav-toggle span:after {
  -moz-transform: translateY(6px) rotate(0deg);
  -ms-transform: translateY(6px) rotate(0deg);
  -webkit-transform: translateY(6px) rotate(0deg);
  transform: translateY(6px) rotate(0deg);
}

/* line 208, ../sass/screen.scss */
.nav-toggle.close-nav:before {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  background-color: transparent;
  border: 1px solid #fff;
}

/* line 217, ../sass/screen.scss */
.nav-toggle.close-nav:after {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  background-color: transparent;
  border: 1px solid #fff;
}

/* line 226, ../sass/screen.scss */
.nav-toggle.close-nav span {
  background-color: rgba(255, 255, 255, 0);
}

/* line 230, ../sass/screen.scss */
.nav-toggle.close-nav span:before, .nav-toggle.close-nav span:after {
  background-color: #fff;
}

/* line 234, ../sass/screen.scss */
.nav-toggle.close-nav span:before {
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}

/* line 241, ../sass/screen.scss */
.nav-toggle.close-nav span:after {
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}

/* ==========================================================================
	$Banner
========================================================================== */
/* line 251, ../sass/screen.scss */
.banner {
  background-image: url(../images/ava.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
}
/* line 261, ../sass/screen.scss */
.banner__Overlay {
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  background-repeat: repeat;
  height: 100%;
}

/* line 270, ../sass/screen.scss */
.intro {
  text-align: center;
  position: absolute;
  color: #735937;
  width: 100%;
}
/* line 275, ../sass/screen.scss */
.intro__siteName {
  font-size: 85px;
  margin: 15px auto;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 650px;
  width: 80%;
  padding: 5px;
}
/* line 283, ../sass/screen.scss */
.intro__siteName span {
  font-family: arial;
  font-weight: bold;
}
/* line 289, ../sass/screen.scss */
.intro__title {
  font-size: 24px;
  letter-spacing: 2px;
  margin: 15px auto;
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 300px;
  width: 80%;
  padding: 5px 15px;
}

/* line 300, ../sass/screen.scss */
.line {
  background-color: #fff;
  height: 1px;
  width: 90%;
  max-width: 400px;
  margin: 10px auto;
}
/* line 306, ../sass/screen.scss */
.line_grey {
  background-color: #d3d3d3;
  width: 40px;
}

/* ==========================================================================
   Post
========================================================================== */
/* line 316, ../sass/screen.scss */
.post {
  padding: 10px;
  margin-top: 60px;
  text-align: center;
}
/* line 320, ../sass/screen.scss */
.post__img {
  vertical-align: top;
  outline: none;
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
}
/* line 327, ../sass/screen.scss */
.post__img_about {
  border-radius: 50%;
  max-width: 300px !important;
  margin-bottom: 20px;
}

/* line 335, ../sass/screen.scss */
.postDesc {
  position: relative;
  z-index: 3;
  margin: -40px 20px 0;
  padding: 20px 20px 14px;
  text-align: center;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  -webkit-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
}
/* line 346, ../sass/screen.scss */
.postDesc__cat {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 30px;
  display: table;
  margin: 1px auto;
  position: relative;
}
/* line 354, ../sass/screen.scss */
.postDesc__cat a {
  color: #03B5AA;
  text-decoration: none;
  font-weight: 900;
  transition: color .3s linear;
  padding: 0 20px;
}
/* line 360, ../sass/screen.scss */
.postDesc__cat a:hover {
  color: #333333;
}
/* line 365, ../sass/screen.scss */
.postDesc__cat:before, .postDesc__cat:after {
  content: '';
  border-top: 1px solid #d9d8d8;
  width: 100%;
  max-width: 90px;
  position: absolute;
  top: 50%;
}
/* line 373, ../sass/screen.scss */
.postDesc__cat:before {
  right: 100%;
}
/* line 374, ../sass/screen.scss */
.postDesc__cat:after {
  left: 100%;
}
/* line 377, ../sass/screen.scss */
.postDesc__title {
  margin: 10px auto;
}
/* line 379, ../sass/screen.scss */
.postDesc__title a {
  text-decoration: none;
  color: #333;
  font-family: Arial;
  letter-spacing: 2px;
  font-size: 22px;
  text-transform: uppercase;
}
/* line 386, ../sass/screen.scss */
.postDesc__title a:hover {
  color: #03B5AA;
}
/* line 392, ../sass/screen.scss */
.postDesc__text {
  color: #9da1ad;
  font-family: Arial;
  line-height: 18px;
  letter-spacing: 0.5px;
  font-size: 14px;
}
/* line 400, ../sass/screen.scss */
.postDesc__info {
  color: #333;
  display: inline-block;
  margin-left: 15px;
}
/* line 404, ../sass/screen.scss */
.postDesc__info i {
  color: #03B5AA;
}

/* line 410, ../sass/screen.scss */
.postInfoWrap {
  width: 80%;
  max-width: 500px;
  margin: 10px auto;
}

/* line 417, ../sass/screen.scss */
.popularPost {
  margin-top: 20px;
  display: flex;
}
/* line 420, ../sass/screen.scss */
.popularPost__img {
  width: 100px;
  display: inline-block;
}
/* line 423, ../sass/screen.scss */
.popularPost__img img {
  border-radius: 50%;
  vertical-align: top;
  outline: none;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
/* line 432, ../sass/screen.scss */
.popularPost__text {
  display: inline-block;
  line-height: 50px;
  margin-left: 20px;
  max-width: 150px;
  color: #333;
}
/* line 438, ../sass/screen.scss */
.popularPost__text a {
  color: #333;
  text-decoration: none;
  font-family: Arial;
  font-size: 13px;
  text-transform: uppercase;
}
/* line 444, ../sass/screen.scss */
.popularPost__text a:hover {
  color: #03B5AA;
}

/* ==========================================================================
   SideBar
========================================================================== */
/* line 458, ../sass/screen.scss */
.sidebar {
  margin-top: 70px;
  background-color: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.05);
  -webkit-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
}

/* line 466, ../sass/screen.scss */
.sidebarTtitle {
  margin: 20px auto;
  text-align: center;
}
/* line 469, ../sass/screen.scss */
.sidebarTtitle a {
  text-decoration: none;
  color: #333;
  font-family: Arial;
  letter-spacing: 2px;
  font-size: 17px;
  text-transform: uppercase;
}
/* line 476, ../sass/screen.scss */
.sidebarTtitle a:hover {
  color: #03B5AA;
}

/* line 482, ../sass/screen.scss */
.SearchWrap {
  margin-top: 20px;
  padding: 15px 0;
}

/* line 487, ../sass/screen.scss */
.search {
  margin: 10px auto;
  height: 35px;
  border: 1px solid #d3d3d3;
  max-width: 350px;
}
/* line 492, ../sass/screen.scss */
.search__input {
  border: none;
  height: 15px;
  margin: 10px 0 10px 10px;
  padding-left: 5px;
  width: 71%;
  background-color: transparent;
}
/* line 500, ../sass/screen.scss */
.search__submit {
  font-size: 25px;
  line-height: 35px;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  color: #d3d3d3;
  transition: all .3s easy-in;
  width: 20%;
}
/* line 511, ../sass/screen.scss */
.search:hover {
  border-color: #2fa49d;
  color: #333;
}
/* line 515, ../sass/screen.scss */
.search:hover .search__submit {
  color: #03B5AA;
}

/* line 520, ../sass/screen.scss */
.about {
  text-align: center;
}
/* line 525, ../sass/screen.scss */
.about__text {
  max-width: 350px;
  margin: auto;
  text-align: justify;
  font-family: Arial;
  line-height: 19px;
  letter-spacing: 0.5px;
  font-size: 16px;
}

/* line 535, ../sass/screen.scss */
.tags {
  margin: 20px auto;
}

/* line 538, ../sass/screen.scss */
.tag {
  border: 1px solid #03B5AA;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  margin: 2px 1px;
  padding: 15px 10px;
  font-family: Arial;
}
/* line 546, ../sass/screen.scss */
.tag a {
  color: #03B5AA;
  text-decoration: none;
}
/* line 550, ../sass/screen.scss */
.tag:hover {
  border-color: #333;
}
/* line 553, ../sass/screen.scss */
.tag:hover a {
  color: #333;
}

/* ==========================================================================
   Footer
========================================================================== */
/* line 564, ../sass/screen.scss */
.instagram {
  width: 100%;
  margin: 20px auto;
}
/* line 567, ../sass/screen.scss */
.instagram__img {
  overflow: hidden;
  float: left;
  cursor: pointer;
}
/* line 571, ../sass/screen.scss */
.instagram__img img {
  width: 100%;
  object-fit: cover;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}
/* line 578, ../sass/screen.scss */
.instagram__img img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* line 587, ../sass/screen.scss */
.footer {
  margin-top: 50px;
  min-height: 70px;
  text-align: center;
  border-top: 1px solid #d3d3d3;
  font-size: 19px;
}
/* line 593, ../sass/screen.scss */
.footer p {
  left: 20px;
  position: absolute;
  line-height: 70px;
}

/* line 602, ../sass/screen.scss */
.social {
  right: 20px;
  position: absolute;
  font-size: 19px;
  color: #2fa49d;
}
/* line 607, ../sass/screen.scss */
.social__icon {
  float: left;
  margin: 30px 10px;
}
/* line 610, ../sass/screen.scss */
.social__icon a {
  color: #2fa49d;
  text-decoration: none;
}
/* line 613, ../sass/screen.scss */
.social__icon a:hover {
  color: #333;
}

/* RESPONSIVE */
@media screen and (max-width: 800px) {
  /* line 625, ../sass/screen.scss */
  .header__header-content {
    width: 80%;
    border: none;
    padding: 30px 10px !important;
  }
}
